.albums-container {
  background-color: #B4C5E4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 24px 8px 8px 4px;
}

.album {
  align-items: center;
  background-color: rgb(48, 69, 108);
  color: #B4C5E4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: 0.2rem;
  margin: 4px;
  padding: 4px;
  width: 30vw;
}



h1:hover {
  color: rgb(15, 13, 57);
  cursor: pointer;
}